<h1>Rifftube#index</h1>
<p>Find me in app/views/rifftube/index.html.erb</p>

<p>
<%= flash[:notice] %>
</p>

<p>
<% if logged_in? %>
  <%= link_to 'logout', '/logout', data: { turbo_method: :delete } %>
<% else %>
<%= link_to 'login', '/login' %>
<% end %>
</p>

<p>
<%= link_to "users", "/users/" %>
</p>