@use "../abstract/variables";

.container-riff-meta {
  display: flex;
  height: variables.$small;
  background-color: variables.$color-dark-gray;
  position: relative;
  width: 97.75%;

  margin: 0 auto;
  @media (min-width: 501px) {
    width: 100%;
  }

  .riff-meta {
    background-color: variables.$color-light-gray;
    height: variables.$small;
    position: absolute;
  }

  .riff-own-meta {
    background-color: variables.$color-primary;
    height: variables.$small;
    position: absolute;
  }
}

#meta-play-head {
  height: variables.$small;
  background-color: yellow;
  width: 1px;
  position: absolute;
  z-index: 3;
}
