<h1>Editing user options</h1>

<%= render "form", user_options: @user_options %>

<br>

<div>
  <!-- %= link_to "Show this user options", @user_options %> |
  <%= link_to "Back to user options", user_options_index_path % -->
</div>
